/*Criado por mim*/
.imagemLateral {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagemLateral150 {
    width: 150px;
    height: 150px;
}

.imagemLateral200 {
    width: 200px;
    height: 200px;
}

.imagemLateral250 {
    width: 250px;
    height: 250px;
}

.container {
    padding-bottom: 50px;
}

/*Criado por mim - fim*/

.bgimage {
    background-image: url('../images/cristo-redentor-1.jpg');
    background-position: center center;
    background-size: cover;
    height: 400px;
}

/* ---------------------------------------------------- */

.navbar {
    margin-bottom: 0px;
}

/* ---------------------------------------------------- */

.media img {
    width: 180px;
    margin-bottom: 15px;
}

.media-body h3 {
    font-size: 20px;
}

.media-body .cabecalho {
    margin-top: 10px;
}

.formatoImagem {
    border-radius: 6%;
}

.noPaddingLeft {
    padding-left: 0px;
}

/* ---------  Ajustes das 4 fotos da Ilha Grande  ----- */

.media-list {
    padding-right: 20px;
}

.media-body p {
    padding-right: 15px;
}

.altura-da-linha {
    line-height: 8px;
}

/* ---------------------------------------------------- */

@media (max-width: 465px) {
    .jumbotron h2 {
        padding-left: 15px;
        font-size: 25px;
    }

    .jumbotron p {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 17px;
    }

    .media img {
        width: 90px;
        margin-bottom: 6px;
    }

    .media-body h3 {
        font-size: 15px;
    }

    .media-body p {
        font-size: 12px;
    }

    .formatoImagem {
        border-radius: 50%;
    }
}

/* ---------------------------------------------------- */

@media (max-width: 360px) {
    .media-body p {
        display: none;
    }

    .media-body .cabecalho {
        margin-top: 18px;
    }
}

/* ---------------------------------------------------- */

.footer {
    background-color: #333;
    color: #efefef;
    padding: 30px 0;
}

.footer a {
    color: #639bcf;
}

.footer a:hover {
    color: #d8e6f3;
}




